@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    -100deg,
    rgba(235, 221, 31, 0.89),
    rgba(20, 196, 219, 0.932)
  );
  font-family: "Poppins", sans-serif;
  color: white;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

form input,
form button {
  padding: 0.4rem;
  font-size: 1.5rem;
  border: none;
  background: white;
 
}

form input{
  border-radius: 10px 0px 0 10px;
}

form button{
  border-radius: 0px 10px 10px 0px;
}

form button {
  background: white;
  color: rgba(20, 196, 219, 0.932);
  transition: 0.2s ease;
  cursor: pointer;
}

form button:hover {
  background: rgba(20, 196, 219, 0.932);
  color: white;
}

.todo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo_list {
  min-width: 20%;
  list-style: none;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  background: rgba(255, 255, 255, 0.637);
  color: black;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.checked-btn,
.delete-btn {
  background: rgba(235, 113, 31, 0.89);
  color: white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
}

.checked-btn {
  background: rgb(46, 178, 34);
}

.todo-item {
  padding: 0 0.5rem;
}

.fa-trash, .fa-check{
  pointer-events: none;
}

.completed{
  text-decoration: line-through;
  opacity: 0.6;
}

.fall{
  transform: translateY(2rem) rotateZ(15deg);
  opacity: 0;
}

/* select */
select{
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 outline: none;
 border: none;
 color: rgb(250, 154, 11);
 width: 10rem;
 padding: 0.32rem;
 cursor: pointer;
 border-radius: 10px 0px 0 10px;
}

.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;

}

.select::after{
  content: '\25BC';
  position: absolute;
  background: rgb(250, 154, 11);
  top: 0;
  right: 0;
  padding: 0.2rem;
  pointer-events: none;
  transition: all 0.5s ease;
}

.select:hover::after{
  background: white;
  color: rgb(250, 154, 11);
}

@media only screen and  (min-width:320px) and (max-width:600px){
  form input{
    width:45%;
  }

  .select{
    width: 25%;
  }
}